<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <!-- CSS only -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   <style>
     .form-group{
       padding-top: 6px;
     }
     body{
       margin: 40px;
       background-color:aliceblue;
     }
     .container{
       padding: 20px;
       background-color:black;
       color:rgba(127, 255, 244, 0.897);
       border-radius: 10px;
       box-shadow: 4px 3px 3px darkgray;
     }
     .lottie{
        position: absolute;
        top: 50px;
        right: 50px;
     }
   </style>  
  </head>
  <body>
    
    <div class="container">
      <div class="lottie">
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_1blm689k.json"  background="transparent"  speed="1"  style="width: 700px; height: 700px;"  loop autoplay></lottie-player>
      </div>
      <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h1>Registration Form</h1><hr style="color:rgba(127, 255, 244, 0.897);size: 2px;">
          </div>
          <div class="panel-body">
            <form action="connect.php" method="post">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                />
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                />
              </div>
              <div class="form-group">
                <label for="lastName">Roll No</label>
                <input
                  type="text"
                  class="form-control"
                  id="rollNo"
                  name="rollNo"
                />
              </div>
              <div class="form-group">
                <label for="year">Year</label>
                <div>
                  <label for="first" class="radio-inline"
                    ><input
                      type="radio"
                      name="year"
                      value="1"
                      id="first"
                    />1st</label
                  >
                  <label for="second" class="radio-inline"
                    ><input
                      type="radio"
                      name="year"
                      value="2"
                      id="second"
                    />2nd</label
                  >
                  <label for="third" class="radio-inline"
                    ><input
                      type="radio"
                      name="year"
                      value="3"
                      id="third"
                    />3rd</label
                  >
                  <label for="fourth" class="radio-inline"
                    ><input
                      type="radio"
                      name="year"
                      value="4"
                      id="fourth"
                    />4th</label
                  >
                </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <div>
                  <label for="male" class="radio-inline"
                    ><input
                      type="radio"
                      name="gender"
                      value="m"
                      id="male"
                    />Male</label
                  >
                  <label for="female" class="radio-inline"
                    ><input
                      type="radio"
                      name="gender"
                      value="f"
                      id="female"
                    />Female</label
                  >
                  <label for="others" class="radio-inline"
                    ><input
                      type="radio"
                      name="gender"
                      value="o"
                      id="others"
                    />Others</label
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                />
              </div>
              <div class="form-group">
                <label for="number">Phone Number</label>
                <input
                  type="number"
                  class="form-control"
                  id="number"
                  name="number"
                />
              </div>
              <div class="form-group" style="padding-bottom: 8px;">
                <label for="sportName">Sport Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="sportName"
                  name="sportName"
                />
              </div>
              <input type="submit" class="btn btn-primary" style="background-color: black;border-color: rgba(127, 255, 244, 0.897);"/>
            </form>
          </div>
        </div>
      </div>
    </div>  
  </body>
</html>